---
layout: default
---
<!-- Post Content -->
<div class="container">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        <div class="mdl-cell mdl-cell--8-col">
            <div class="post-content mdl-card mdl-shadow--4dp">{{ content }}</div>
        </div>
    </div>

    <div class="mdl-grid mdl-grid--no-spacing">
        {% if page.previous.url %}
        <a id="post-previous"
            class="previous-button mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone mdl-cell mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
            href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}">上一篇</a>
        <div class="mdl-tooltip" for="post-previous">{{page.previous.title}}</div>
        {% endif %}
        <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone"></div>
        {% if page.next.url %}
        <a id="post-next"
            class="next-button mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone mdl-cell mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
            href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}">下一篇</a>
        <div class="mdl-tooltip" for="post-next">{{page.next.title}}</div>
        {% endif %}
    </div>

    <hr style="visibility: hidden;">

    <div id="aplayer"></div>

    <script>
        if (document.getElementsByClassName('post-content').length > 0) {
            var galley = document.getElementsByClassName('post-content')[0];
            var viewer = new Viewer(galley, { toolbar: false });
        }
        const ap = new APlayer({
            container: document.getElementById('aplayer'),
            mini: true,
            audio: [{
                name: 'Everyday World - 我的青春恋爱物语果然有问题 S2 ED',
                artist: 'Animenz',
                url: 'http://music.163.com/song/media/outer/url?id=526103253.mp3',
                cover: 'https://s1.ax1x.com/2020/03/22/85SnMD.jpg',
            }]
        });
    </script>

</div>