---
layout: default
---
<!-- Post Content -->
<div class="container">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        <div class="mdl-cell mdl-cell--8-col">
            <div class="post-content mdl-card mdl-shadow--4dp">{{ content }}</div>
        </div>
    </div>

    <div class="mdl-grid mdl-grid--no-spacing">
        {% if page.previous.url %}
        <a id="post-previous"
            class="previous-button mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone mdl-cell mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
            href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}">上一篇</a>
        <div class="mdl-tooltip" for="post-previous">{{page.previous.title}}</div>
        {% endif %}
        <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone"></div>
        {% if page.next.url %}
        <a id="post-next"
            class="next-button mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone mdl-cell mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
            href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}">下一篇</a>
        <div class="mdl-tooltip" for="post-next">{{page.next.title}}</div>
        {% endif %}
    </div>

    <hr style="visibility: hidden;">

    
<div>
    <div class="tags">
        {% for tag in page.tags %}
        <a type="button" class="mdl-chip" href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">
            <span class="mdl-chip__text">{{ tag }}</span>
        </a>
        {% endfor %}
    </div>
</div>

</div>