---
layout: default
---

<header class="intro-header" >
    <div class="container">
        <div class="row">
            <div style="margin:10px;">
                <div class="post-heading" style="text-align:center;">
                    <div class="tags">
                        {% for tag in page.tags %}
<a type="button" class="mdl-chip" href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">
    <span class="mdl-chip__text">{{ tag }}</span>
</a>
                        {% endfor %}
                    </div>
                    <h1>{{ page.title }}</h1>
                    {% comment %}
                        always create a h2 for keeping the margin , Hux
                    {% endcomment %}
                    {% comment %} if page.subtitle {% endcomment %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% comment %} endif {% endcomment %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container" style="margin:6px">
    <!-- Post Container -->
            <div class="post-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container" style="border-radius: 2px;padding: 80px 56px;margin-bottom: 80px;margin:0 auto;width: 61.8%;">
       

				{{ content }}

                <hr style="visibility: hidden;">

                <div class="pager" style="width: 100%">
                    {% if page.previous.url %}
                    <div class="previous">
                        <a id="post-previous" style="display: inline;float: left; margin-left: 26%" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">Previous</a>
                        <div class="mdl-tooltip" for="post-previous">{{page.previous.title}}</div>
                    </div>
                    {% endif %}
                    {% if page.next.url %}
                    <div class="next">
                        <a id="post-next" style="display: inline;float: right;margin-right: 26%" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" title="{{page.next.title}}">Next</a>
                        <div class="mdl-tooltip" for="post-next">{{page.next.title}}</div>
                    </div>
                    {% endif %}
                </div>
            </div>
    </div>